body
{
    background-color: skyblue;
    color: black;
}

.heading
{
    font-size: 22px;
    width: 80%;
}

#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_objects , #esult_object_name , #esult_object_accuracy
{
    color: mediumspringgreen;
}